[Desktop Entry]
Name=eldenring
Comment=Play this game on Steam
Exec=steam steam://rungameid/3980115320
Icon=/home/jacobpina/.config/steamtinkerlaunch/games/header/3980115320.jpg
Terminal=false
Type=Application
Categories=Game;
