[Desktop Entry]
Name=Metro Exodus
Comment=Play this game on Steam
Exec=steam steam://rungameid/412020
Icon=/home/jacobpina/.config/steamtinkerlaunch/games/header/412020.jpg
Terminal=false
Type=Application
Categories=Game;
